/* general formatting */
p {
  text-align: justify;
}

td p {
  text-align: left;
}

/* syntaxt highlighting */
.fl      {color: #63B8FF;}
.fu      {color: #00F5FF;} /* function */
.fu a    {color: #00F5FF;}
code.sourceCode.r a    {color: #00FFFF;}
.ch,.st  {color: #7AC5CD;} /* string */
.kw      {color: #00FFFF;} /* keyword */
.kw a    {color: #00CFFF;}
.co      {color: #D0F8FF;} /* comment */

.message { color: orange;   font-weight: bolder;}
.error   { color: red;  font-weight: bolder;}
.warning { color: purple; font-weight: bolder;
}

.sourceCode .r, .examples, .usage, pre, pre code {
  background-color: #000030;
  color: #A9F3EE;
}

/* leaflet */
.leaflet-container { background: #000000 !important; }
.leaflet-popup-content-wrapper { border-radius: 4px !important; color: #ffffff !important; background-color: rgba(45, 45, 45, 0.9) !important; width: 540px; font-size: 16px; }
.leaflet-popup { border-color: #888888 !important; }

/* Stellar Cartography and R&R */
.main-container {
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.parallax {
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.parallax-image{
  width: 150px;
  position: absolute;
  top: 70px;
  left: 20px;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; color: #D0F8FF; }
    to   { opacity: 1; color: #FFFFFF; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; color: #D0F8FF; }
    to   { opacity: 1; color: #FFFFFF; }
}

.st-tweets, .st-tweets2 {
  background-color: rgba(223, 0, 0, 0.3);
  color: #FFFFFF;
  padding: 10px;
  border-color: #FFFFFF;
  border-radius: 4px;
  font-size: 16pt;
  height:280px;
  width:100%;
}

.st-tweets h2, .st-tweets2 h2 {
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.st-tweets p, .st-tweets2 p {
  margin: 0px;
  padding-left: 6px;
  font-size: 0.8em;
}
